.App {
  background: linear-gradient(-45deg, #152d50, #143f69);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Times New Roman", Times, serif;
}

#headline {
  color: #00ffd0;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
}

#subheadline {
  margin-top: 10px;
}

.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 600px) {
  .welcome h1 {
    padding: 1px 1px; /* Reduce padding for smaller screens */
    font-size: 2.5rem; /* Adjust font size for smaller screens */
  }
  .welcome h4 {
    padding: 1px 1px; /* Reduce padding for smaller screens */
    font-size: 1.3rem; /* Adjust font size for smaller screens */
  }
  .welcome p {
    padding: 1px 1px; /* Reduce padding for smaller screens */
    font-size: 1.7rem; /* Adjust font size for smaller screens */
    width: 95%; /* Make the container wider on small screens */
  }

  .timetableHeader {
  font-size: 1.7rem; /* Adjust font size for smaller screens */

}

.timetableHeader2 {
    font-size: 1.2rem; /* Adjust font size for smaller screens */

}

}
.intro {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  /* background: #5d8af488; */
  padding: 1%;
  border-radius: 10px;
  margin-bottom: 0;
}

.digok {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background: #5d8af488;
  padding: 1%;
  border-radius: 10px;
}

.grid-container {
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto auto;
}

.grid-item {
  margin: 20px;
  padding: 5%;
  border-style: ridge;
  border-radius: 5%;
}

.Me {
  height: auto;
  width: 12%;
}
/* Media query for phones */
@media (max-width: 600px) {
  .Me {
    width: 50%; /* Adjust the width as needed for phone screens */
  }
}

.Me:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: spin 0.5s;
  /* When the animation is finished, start again */
  animation-iteration-count: 1;
}

@keyframes spin {
  100% {
    transform: translate(1px, -2px) rotate(359deg);
  }
}

.timetableHeader {
  color: #00ffd0;
  text-align: center;
  margin-top: 10vh;
  margin-bottom: 0%;
}
.timetableHeader2 {
  text-align: center;
  margin-top: 0%;
  margin-bottom: 2%;
}

/* .timetableSection {
  display: flex;
  justify-content: center;
} */
table {
  margin-left: auto;
  margin-right: auto;
  border: 2px solid rgb(0, 0, 0); /* Add white border to the table */
  margin-bottom: 100px;
  border-collapse: separate; /* Use separate borders for rounded corners */
  border-radius: 10px; /* Round the corners of the table */
  overflow: hidden; /* Ensure that the table content does not overflow */
}


td,
th {
  padding: 10px;
  text-align: center;
}
