.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(-45deg, #00287e, #59acff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


.Me:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: spin 0.5s; 
  /* When the animation is finished, start again */
  animation-iteration-count: 1; 
}

@keyframes spin {
  100% { transform: translate(1px, -2px) rotate(359deg); }
}
