.App {
  text-align: center;
}

.App-header {
  background: linear-gradient(-45deg, #ee7752, #17ff2e, #23a6d5, #23d5ab);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
